@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  border: none;
  border-radius: 0;
  outline: none;
}

.playfair {
  font-family: 'Playfair Display', serif;
}
