.footer {
  background-color: #ddd;
  padding-top: 30px;
  padding-bottom: 10px;

  &__info {
    width: 300px;

    &__social {
      & a {
        width: 50px;
        height: 50px;
        margin: 0 10px;
        background-color: #de3241;
        border-radius: 100%;
        color: #fff;

        &:hover {
          background-color: #b52733;
          color: #fff;
        }
      }
    }

    &__detail {
    }
  }
}
