.trailers__playlist {
  padding: 30px 0;

  background-color: #0b1a2a;

  &__slide {
    height: 100%;

    &__item {
      height: 85px;
      width: 100%;
      padding: 15px;

      cursor: pointer;

      &.selecting {
        background-color: #1c3d5d;
      }
    }
  }

  &__prev-btn,
  &__next-btn {
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    position: absolute;
    left: 50%;
    font-size: 20px;
    color: #fff;
    background-color: transparent;
    transform: translateX(-50%);

    &:hover {
      color: #dcf836;
    }

    &:focus {
      outline: none;
    }
  }

  &__prev-btn {
    top: 0px;
  }

  &__next-btn {
    top: 93%;
  }
}
