.discover{
  &__book-card{
    padding: 0;
    margin: 0 auto;

    width: 100%;

    &__img{
      
    }

    &__name{
      color: black !important;
      font-weight: bold;
      font-family: 'Playfair Display';
      text-transform: capitalize;
    }

    &__author, &__reviews{
      color: #797979;
    }

    &__price{
      color: #de3241;
      font-weight: bold;
      font-size: 18px;
    }
  }
}